@model IEnumerable<YallaDigital.Models.BlogPost>

@{
    ViewData["Title"] = "Index";
}

<h1>Blog Posts</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>

@if (!Model.Any())
{
    <p>No cards yet.</p>
}
else
{
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="~/uploads/@item.ImageUrl" class="card-img-top" alt="@item.Title" />
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text">
                            @item.Content.Length > 100 ? @item.Content.Substring(0, 100) + "..." : @item.Content
                        </p>
                        <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-warning">Edit</a>
                        <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-info">Details</a>
                        <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
